// blue
$blue: #0063b0;
$dark-blue: #023e83;
$dark-blue-them: #1e3685;
$d-dark-blue: #002957;

$grey: #dbe2e6;

$white: #fff;

$header: $white;
$header-text: $blue;

$btn: $blue;
$btn-hover: $dark-blue;

$link: #013e83;
