@import 'const.scss';
@import './components/all';

html,
body,
#root {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}